# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
**/*.pyc

# Virtual environment
venv/
ENV/
env/
.env/
.venv/

# IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Database
*.sqlite3
*.db
*.db-journal

# Logs
*.log
